<form name="sentenceForm" ng-controller="SentenceController as sentenceCtrl" ng-submit="sentenceCtrl.checkWords(sentence)">
	<div id="sentenceFormLayout">
	    <div id="description">Enter New Sentence and select sort type : 
	        <input ng-model="sentenceCtrl.sortType" type="radio" name="sortType" id="KEY" value="KEY" checked>Key 
	        <input ng-model="sentenceCtrl.sortType" type="radio" name="sortType" id="VALUE" value="VALUE">Value
	    </div>
	    <div id="sentenceBox"><input ng-model="sentenceCtrl.sentence" type="text" name="sentence" id="sentence" style="width:1000px;"/></div>
	    <div id="submitButton"><input type="submit" value="Submit"/></div>
	    <div id="messageDisplay"></div>
	</div>
</form>